version: "3.9"

services:
  db:
    container_name: student_db
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: students_db
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql

  redis:
    container_name: student_redis
    image: redis:7
    restart: always
    ports:
      - "6379:6379"

  api:
    container_name: student-api
    build: .
    depends_on:
      - db
      - redis
    env_file:
      - .env
    ports:
      - "8080:8080"
    restart: always

volumes:
  dbdata:
